<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <title>Course Recommendations</title>
</head>
<body>
    <h1>Enter the semester to get recommendations</h1>
    <form action="/search" method="POST">
        <input type="text" name="semester" placeholder="Enter semester (e.g., 2nd_sem)">
        <button type="submit">Search</button>
    </form>
</body>
</html>
