<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Course Recommendations</title>
</head>
<body>
    <h1>Recommended Courses</h1>
    <!-- <input
    type="search"
    placeholder="search by semester"
    value={}
    >
</input> -->
    <ul>
        {% for course in courses %}
        <li>
            <h2>{{ course['semester'] }}</h2>
            {% for subject in course['mandatory'] %}
            <div>
                <h3>{{ subject['subject_name'] }} ({{ subject['course_code'] }})</h3>
                <p>{{ subject['description'] }}</p>
                <a href="{{ subject['course_code_link'] }}">Learn More</a>
            </div>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
